In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2021-08-02 14:07:10,-21.3667,55.6167,71.98,77,39,6.38
1,1,Qaanaaq,GL,2021-08-02 14:07:10,77.4840,-69.3632,43.72,69,100,7.25
2,2,Rikitea,PF,2021-08-02 14:05:09,-23.1203,-134.9692,68.95,54,99,22.55
3,3,Saint-Philippe,RE,2021-08-02 14:07:11,-21.3585,55.7679,72.99,76,54,8.59
4,4,Pangnirtung,CA,2021-08-02 14:07:11,66.1451,-65.7125,51.85,76,100,4.79

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2021-08-02 14:07:10,-21.3667,55.6167,71.98,77,39,6.38
3,3,Saint-Philippe,RE,2021-08-02 14:07:11,-21.3585,55.7679,72.99,76,54,8.59
5,5,Khash,IR,2021-08-02 14:07:11,28.2211,61.2158,94.39,9,49,13.33
7,7,Mae Ramat,TH,2021-08-02 14:07:12,16.9840,98.5166,74.17,100,100,2.51
10,10,Atuona,PF,2021-08-02 14:07:13,-9.8000,-139.0333,77.09,73,47,14.47
13,13,Cabo San Lucas,MX,2021-08-02 14:07:14,22.8909,-109.9124,87.51,55,43,7.76
14,14,Puerto Ayora,EC,2021-08-02 14:07:14,-0.7393,-90.3518,72.18,84,100,9.44
15,15,Willowick,US,2021-08-02 14:07:15,41.6331,-81.4687,73.08,72,40,5.01
18,18,Najran,SA,2021-08-02 14:07:16,17.4924,44.1277,92.37,24,100,12.62
20,20,Hilo,US,2021-08-02 14:07:17,19.7297,-155.0900,71.80,87,90,3.44

In [12]:
preferred_cities_df.count()

City_ID       334
City          334
Country       330
Date          334
Lat           334
Lng           334
Max Temp      334
Humidity      334
Cloudiness    334
Wind Speed    334
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0     Saint-Joseph      RE     71.98 -21.3667   55.6167
3   Saint-Philippe      RE     72.99 -21.3585   55.7679
5            Khash      IR     94.39  28.2211   61.2158
7        Mae Ramat      TH     74.17  16.9840   98.5166
10          Atuona      PF     77.09  -9.8000 -139.0333
13  Cabo San Lucas      MX     87.51  22.8909 -109.9124
14    Puerto Ayora      EC     72.18  -0.7393  -90.3518
15       Willowick      US     73.08  41.6331  -81.4687
18          Najran      SA     92.37  17.4924   44.1277
20            Hilo      US     71.80  19.7297 -155.0900

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Joseph,RE,71.98,-21.3667,55.6167,"""Plantation Bed and Breakfast"
3,Saint-Philippe,RE,72.99,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
5,Khash,IR,94.39,28.2211,61.2158,دفتر پیشخوان دولت جمال زهی (خالد)
7,Mae Ramat,TH,74.17,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
10,Atuona,PF,77.09,-9.8000,-139.0333,Villa Enata
13,Cabo San Lucas,MX,87.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
14,Puerto Ayora,EC,72.18,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Willowick,US,73.08,41.6331,-81.4687,Skylight Inn and Suites Clevland
18,Najran,SA,92.37,17.4924,44.1277,محمد هادي ال فطيح
20,Hilo,US,71.80,19.7297,-155.0900,Hilo Hawaiian Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))